body {
    background-color: rgba(0, 0, 0, 0.8);
    color: mintcream;
    font-family: 'Source Code Pro', monospace;
}

#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#greeting-container {
  margin-top: 20px;
}

nav {
    border-color: transparent !important;
}

.navclr {
    background-color: transparent !important;
}

nav a {
    color: mintcream !important;
}

.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
    text-decoration: none !important;
    background-color: darkslategray !important;
}

.bars:hover {
    background-color: darkslategray !important;
}

#profile {
    padding-top: 5em;
}

.content {
    color: rgb(214,247,232);
    font-size: 16px;
}

@media (max-width: 768px) {
    .navbar-collapse {
        background-color: #222;
    }
}

hr {
    border-top: 1px solid darkslategray;
}

#cubeimg {
    padding-top: 40px;
}

#project a {
    text-decoration: none;
    color: rgb(97, 167, 135);
}

.projectidx{
  position: relative;
  opacity: 0.99;
}


.projectidx::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: url("images/imgbg.png") no-repeat 0 50%;
  opacity: 0.05;
}

.projectidx span {
    margin-left: 1em;
}

.projectidx .row, .projectidx .aboutme {
    margin-top:1em
}

.projectidx ul {
    padding-top: 1em;
    padding-left: 0;
    margin-left: 0;
    list-style-type: none;
}

hr {
    margin: 4em 0em 1em 0em;
}

#bwprojects {
    margin-top: 2em;
}

#project h1, #accomplishments h1, #skills h1 {
    color: #E1C340;
}

.carousel .item>img {
    opacity: 0.65;
}

#others a {
    text-decoration: none;
    color: rgb(214,247,232);
}

#others .cf, #profile span {
    color: darkmagenta;
}

#others .cc {
    color: #FFBF00;
}

#others li {
    padding-top: 7px;
    list-style-type: none;
}

#others {
    padding-left: 0;
    margin-left: 10px;
}

#accomplishments img {
    width:100%;
}

#accomplishments h1 {
    margin-bottom: 1em;
}

.eachSkill {
    padding-left: 25%;
    padding-top: 2em;
}

.stack, .eachSkill .list {
    margin-top: 1em;
}


.list ul {
    list-style-type:none; 
    padding:0; 
    margin:0;
}

.list li {
    padding-top: 6px;
}

.skillsBack{
  position: relative;
  opacity: 0.99;
}


.skillsBack::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: url("images/setup.jpg") no-repeat 0 50%;
  opacity: 0.03;
}

input, textarea, .list-group-item {
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.commentUser {
    font-size: 13px;
    color: rgb(132, 139, 151);
}